
<div class="row page-titles">
    <div class="row">
        <div class="col-lg-12 col-md-7">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">StoCards </h3>
                    <h6 class="card-subtitle">Lista de cartões ativos.</h6>
                </div>
                <div>
                    <hr class="m-t-0 m-b-0">
                </div>
                <div class="card-body text-center ">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Fone</th>
                                <th>Código</th>
                                <th>Valor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>(11) 98063.3513</td>
                                <td>23141567879-12</td>
                                <td>R$ 34,80</td>
                            </tr>
                            <tr>
                                    <td>(11) 98063.3513</td>
                                    <td>23141567879-12</td>
                                    <td>R$ 34,80</td>
                                </tr>
                                <tr>
                                        <td>(11) 98063.3513</td>
                                        <td>23141567879-12</td>
                                        <td>R$ 34,80</td>
                                    </tr>
                                    <tr>
                                            <td>(11) 98063.3513</td>
                                            <td>23141567879-12</td>
                                            <td>R$ 34,80</td>
                                        </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>