<div class="row page-titles">
    <div class="col-lg-4 col-md-4" id="cartao">
        <!-- Card -->
        <div class="card text-center">
            <img class="card-img-top img-responsive" src="../assets/images/big/img7.jpg" alt="Card image cap">
            <div class="card-body">
                <h2 class="card-title">1029 2837 465</h2>
                <img src="http://chart.apis.google.com/chart?cht=qr&chl=10292837465&chs=120x120" alt="">
                <img src="http://chart.apis.google.com/chart?chbh=1,0,0&chs=150x75&cht=bvg&chco=000000&chds=0,1&chd=s:9AAA9A999A999A9A999A9A9A999AAA9A999A9A999A9AAA9A9A999A9AAA9A999A999A9A999AAA9A9A999A9A9A999AAA9A9A9A999A999AAA9A999A9A999A9AAA9A9AAA9A999A999A9A&chtt=10292837465"
                    alt="">
            </div>
        </div>
    </div>
</div>