<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li>
                    <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="criarcartoes"><i class=" ti-credit-card "></i><span class="hide-menu">StoCard Criar</span></a>
                </li>
                <li>
                    <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="buscacartoes"><i class="ti-search"></i><span class="hide-menu">StoCard Buscar</span></a>
                </li>
                <li>
                    <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="listacartoes"><i class="ti-list"></i><span class="hide-menu">StoCard Listar</span></a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
    <!-- Bottom points-->
    <div class="sidebar-footer">
        <!-- item-->
        <a href="" class="link" data-toggle="tooltip" title="Settings"><i class="ti-settings"></i></a>
        <!-- item-->
        <a href="" class="link" data-toggle="tooltip" title="Email"><i class="mdi mdi-gmail"></i></a>
        <!-- item-->
        <a href="" class="link" data-toggle="tooltip" title="Logout"><i class="mdi mdi-power"></i></a>
    </div>
    <!-- End Bottom points-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
