<div class="row page-titles">
    <div class="col-lg-4 col-md-4">
        <form action="#">
            <div class="form-group col-lg-10 col-md-10">
                <label><span><i class="ti-search"></i></span>Código</label>
                <input placeholder="" class="form-control" type="text">
            </div>
        </form>
        <ul class="list-icons">
            <li><a href="javascript:void(0)"><i class="fa fa-check text-info"></i>Código: 1029 2837 465</a></li>
            <li><a href="javascript:void(0)"><i class="fa fa-check text-info"></i>Fone: (11) 98063.3513</a></li>
            <li><a href="javascript:void(0)"><i class="fa fa-check text-info"></i>Crédito: <h1 class="text-primary">R$ 34,80</h1></a></li>
        </ul>
    </div>
    <div class="col-lg-4 col-md-4" id="cartao">
        <!-- Card -->
        <div class="card text-center">
            <img class="card-img-top img-responsive" src="../assets/images/big/img7.jpg" alt="Card image cap">
            <div class="card-body">
                <h2 class="card-title">1029 2837 465</h2>
                <img src="http://chart.apis.google.com/chart?cht=qr&chl=10292837465&chs=120x120" alt="">
                <img src="http://www.barcodes4.me/barcode/c39/10292837465.png"
                    alt="">
            </div>
        </div>
    </div>
</div>