<div class="row page-titles">
    <div class="row col-lg-12">
        <div class="col-lg-6 col-md-7">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">StoTenda </h3>
                    <h6 class="card-subtitle">Cardápio</h6>
                </div>
                <div>
                    <hr class="m-t-0 m-b-0">
                </div>
                <div class="card-body text-left ">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Cód</th>
                                <th>Produto</th>
                                <th>Valor</th>
                                <th>Quant.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>01</td>
                                <td>Coca-Cola</td>
                                <td>R$ 4,00</td>
                                <td><input type="number"></td>
                            </tr>
                            <tr>
                                <td>02</td>
                                <td>Fanta</td>
                                <td>R$ 4,00</td>
                            </tr>
                            <tr>
                                <td>03</td>
                                <td>Sprite</td>
                                <td>R$ 4,00</td>
                            </tr>
                            <tr>
                                <td>04</td>
                                <td>Antártica</td>
                                <td>R$ 5,00</td>
                            </tr>
                            <tr>
                                <td>05</td>
                                <td>Skol</td>
                                <td>R$ 5,00</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-7">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">1029 2837 465</h2>
                    <img src="http://www.barcodes4.me/barcode/c39/10292837465.png" alt="">
                </div>
                <div class="card-body">
                    <ul>
                      <li>5 Coca-Cola</li>
                      <li>2 Sprits</li>
                      <li>1 Skol</li>
                    </ul>
                    <h4>Total: R$ 33,00</h4>
                </div>
            </div>
        </div>
    </div>
</div>


